<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail Page</title>
</head>
<body>
    <img src="{{img_url}}" >
    

    <h1>{{user.full_name}}</h1>
    <form action="/users/{{ user.id }}/edit" method="GET">
    <button class="btn btn-primary btn-sm">Edit</button>
    </form>
    <form action="/users/{{ user.id }}/delete" method="POST">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
    
    <h2>Posts</h2>
    <ol>
        {% for post in posts %}
        <li>
            <a href="/users/posts/{{user.id}}">{{ post.title }}</a>

        </li>
        {% endfor %}
    </ol>
    <p>
        <a href="/users/{{user.id}}/posts/new"">Add Post</a>
    </p>
</body>
</html>